@using VSB.Core.ViewModels.Dictionary

@model IList<ActionTypeViewModel>

@{
    ViewBag.Title = "ActionType";
}

<script>

    function loadEditForm(url) {

        $.get(url, function (data) {
            $('#EditionPanel').replaceWith(data);
        });

        return false;
    }

</script>

<h2>Słownik akcji</h2>

<div id="TablePanel">
    <table class="table table-striped">
        <thead>
            <tr><th>ID</th><th>Nazwa</th><th>Opis</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Deleted</td>
                    <td>
                        <span class="glyphicon glyphicon-pencil"
                              onclick="loadEditForm('@Url.Action(VSB.Core.Common.DictionaryController.ActionTypeForm,VSB.Core.Common.DictionaryController.Dictionary, new { id = item.ID } )');"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-lg btn-default" onclick="loadEditForm('@Url.Action(VSB.Core.Common.DictionaryController.ActionTypeForm,VSB.Core.Common.DictionaryController.Dictionary)');">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>

<div class="panel panel-default">
    <div id="EditionPanel" class="panel-body">
        @{ Html.RenderPartial(VSB.Core.Common.DictionaryController.ActionTypeForm, new ActionTypeViewModel()); }
    </div>
</div>